{% extends 'layoutside.html' %}

{% block title %}{% endblock %}

{% block content %}

                <div class="row">
                    <div class="col-lg-10">
                        <h1>Books</h1>
                        {% for item in array %}
                        <p><img src="{{item.coverurl}}" class="small_book" /></p>
                        <p><h4>{{item.title}}</h4></p>
                        <p>{{item.genre}}</p>
                        <p><strong>Author:</strong> {{item.firstname}} {{item.lastname}}</p>
                        <p>{{item.description}}</p>
                        <p class="clear"></p>
                        {% endfor %}
                    </div>
                </div>

{% endblock %}
