{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

    <section>
     <br />

<div class="container">
    <div class="row">
      <div class="col-sm-6">
            <div class="hero-widget well well-sm">
                  <div class="icon">
                       <i class="glyphicon glyphicon-user"></i>
                  </div>
                  <div class="text">
                      <var>Authors</var>
                      <label class="text-muted">Technical</label>
                  </div>
                  <div class="options">
                      <a href="/authors" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i> View Authors</a>
                  </div>
              </div>
      </div>
          <div class="col-sm-6">
              <div class="hero-widget well well-sm">
                  <div class="icon">
                       <i class="glyphicon glyphicon-book"></i>
                  </div>
                  <div class="text">
                      <var>Books</var>
                      <label class="text-muted">Technical</label>
                  </div>
                  <div class="options">
                      <a href="/books" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i> View Books</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
