body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header_image {
 width: 40px;
 height: 40px;
}

/*Home Page Widgets*/

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 64px; font-size: 64px; line-height: 64px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }


/*Book Images
*/
.small_book {
  height: 200px;
  width: 150px;
  float: left;
  margin-right: 15px;
}

.clear {
  clear: both;
  margin-bottom: 10px;
  border-bottom: 1px black dotted;
}


/*Sidebar*/